@font-face {
    font-family: "OngleleafBuhungTaedeuk";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungTaedeuk/OngleleafBuhungTaedeuk.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungTaedeuk/OngleleafBuhungTaedeuk.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungTaedeuk/OngleleafBuhungTaedeuk.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungTaedeuk {
    font-family: "OngleleafBuhungTaedeuk";
}
